# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/10-Routing

# default rules
homepage:
  url:   /
  param: { module: project, action: index }

project_index:
  url:   /
  param: { module: project, action: index }

project:
  url:   /projects/:slug
  class: sfDoctrineRoute
  param: { module: project, action: show }
  options: { type: object, model: Project }

resource:
  url:   /projects/:projectSlug/resources/:catalogue
  class: sfDoctrineRoute
  param: { module: resource, action: show }
  options: { type: object, model: Resource }

resource_add:
  url:   /projects/:slug/resources/add
  class: sfDoctrineRoute
  param: { module: resource, action:add }
  options: { type: object, model: Project }

resource_download:
  url:   /projects/:projectSlug/download/:catalogue/:lang
  class: sfDoctrineRoute
  param: { module: resource, action: download }
  options: { type: object, model: Resource }

resource_update:
  url:   /projects/:projectSlug/upload/:catalogue
  class: sfDoctrineRoute
  param: { module: resource, action: update }
  options: { type: object, model: Resource }
  requirements:
    sf_method: ['GET', 'POST', 'PUT']

resource_translate:
  url:   /projects/:projectSlug/translate/:catalogue/:lang
  class: sfDoctrineRoute
  param: { module: resource, action: translate }
  options: { type: object, model: Resource }
  requirements:
    sf_method: ['GET', 'POST']

project_admin:
  url:    /manage-projects

api_admin:
  url:    /manage-api

profile:
  url:   /profile
  param: { module: profile, action: edit }